<div style="display:none" id="username"><b><%=cookies[:username]%></b> </div>
<div style="display:none" id="last_sync"><%= Time.now.to_f * 1000 %></div>
<div class="outer_container">

  <p>Who's here?</p>

  <% @users.each do |user| %>
    <%= image_tag gravatar_url(user["email"]) %>
    <%= user["name"] %>
  <% end %>

  <div class="chat_container">
    <div class="chat_input_container">
      <p>Type your message below, then press Enter to send it.</p>
      <div class="chat-input">
        <div class="identity">
          <%= image_tag gravatar_url(cookies["email"] || ""), :class => "gravatar" %>
        </div>
        <div class="input-field">
          <input type="text" />
        </div>
      </div>
    </div>
    <div class="chat_window">
      <% @recent_messages.each do |message| %>
        <div class="chat_message clearfix <%= cycle('','odd') %>">
          <span class="identity">
            <%= image_tag gravatar_url(message["email"] || ""), :class => "gravatar" %>
          </span>
          <span class="message">
            (<%= message["posted_at"] %>) <b class="username"><%= message["username"]%></b>
            <%= sanitize message["message"], :tags => 'img' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>

