<!DOCTYPE html>
<html>
<head>
  <title>WindycityrailsDojoChatServer</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="header">
    <%=image_tag "wcr.png", :class => "wcr"%>
    <%=image_tag "obtiva.png", :class => "obtiva"%>
  </div>

<%= yield %>

</body>
</html>
