<!DOCTYPE html>
<html>
<head>
  <title>WindyCityRails Coding Dojo Chat Server</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js' %>
  <%= javascript_include_tag 'mustache' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="header">
    <%=image_tag "wcr.png", :class => "wcr"%>
    <%=image_tag "obtiva.png", :class => "obtiva"%>
  </div>

<%= yield %>

</body>
</html>
